@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/*Wrapper style*/
.exp_wrapper{
  text-align: center;
  width: 500px;
  height: 350px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 7px;
  outline: 30px solid #946B2D
}

/*Header style*/
.exp_h2{
  display: inline-block;
  color: #946B2D;
}

/*Paragraph style*/
.exp_p{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
}

/*Button style*/
.exp_previous{
  text-decoration: none;
  display: inline-block;
  position:absolute;
  left:2rem;
  color: black;
  font-size: 30px;
}

.exp_previous:hover{
  color:grey;
}
