
/*Stylizing accordion*/
.accordion{
  max-width: 600px;
  max-height: 650px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: sans-serif;
  background: #946B2D;
  display: block;
  z-index: 10000;
}

.accordion__label, .accordion__content{
 padding: 14px 20px;
}


 /*Stylizing label*/
.accordion__label{
   display: block;
   color: white;
   font-weight: 500;
   font-size: 20px;
   cursor: pointer;
   text-align: center;
   width: 400px;
}


.accordion__label:hover{
  background: #a87933;
}


  /*Makes dropdown work when clicked*/
  .accordion__input{
    display: none;

 }

 .accordion__input:checked ~ .accordion__content{
   display: block;
 }


 /*Stylizing content*/
.accordion__content{
    background: white;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
  }

  /*Scroll wheel for popup*/
    .vertical-menu{
    width: 400px;
    height: 500px;
    overflow-y: auto;
    text-align: center;
  }

  .book-theme{
    font-size: 20px;

  }

  /*close button style*/
  .close-btn {
    border: .6px solid white;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    color: grey;
    transition: 0.5s;
    float: right;
    background:white;
  }

  .close-btn:hover{
    color: black;
  }

  /*Book info style*/
.title1, .title2, .title3, .author1, .author2, .author3, .genre1, .genre2, .genre3, .ISBN1, .ISBN2, .ISBN3{
    font-family: sans-serif;
    font-size: 15px;
    text-align:left;
    right: 20px;

  }


  .image1, .image2, .image3{
    border: 5px solid white;
    float:left;
  }

  /*Description style*/
  .description1, .description2, .description3{
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
  }
